{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  
  <div class="card" style="width:250px">
    <img class="card-img-left" src="https://b.zmtcdn.com/data/pictures/8/97858/9a401317ccd99e3640db67bb9e9ba4a7_o2_featured_v2.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h2 class="card-title">wich please</h2>
      <p class="card-title-type">Fast food</p>
      <p class="card-cost">Min ₹99   ·  Up to 45 min</p>
      <p class="card-text">Accepts online paymets only</p>
      <a href="#" class="btn btn-primary">order online</a>
    </div>
  </div>
  
 
</body>
</html>
