

<div class="col-xs-4">
    <div class="col-xs-12" id="sticky-sidebar">
        <div class="well">
            <h3 align="center">Filters</h3>
            <form class="form-horizontal" method="get" action="/search" id="filterForm" onsubmit="return checksideFilter(this);">
                <input type="hidden" name="q" value="{{q}}">

                <div class="form-group">
                    <label for="sortFilter" class="control-label">Price</label>
                    <select class="form-control" style="min-height:35px;" name="sort" id="sortFilter" >
                        {% if s=='1' or s==None %} {% set temp1,temp2="selected","" %} {% elif s=='2' %} {% set temp1,temp2="","selected" %} {% endif %}

                        <option value="1" {{temp1}}>low to high</option>
                        <option value="2" {{temp2}}>high to low</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="maxprice" class="control-label">Min Price</label>
                    <div class="input-group">
                        <div class="input-group-addon" id="basic-addon1"><span style="font-family: verdana;">&#8377;</span></div>
                        <input type="text" class="form-control" name="minprice" id="minprice" aria-describedby="basic-addon1" >
                    </div>
                     <!--onchange="this.form.submit()"-->
                </div>
                <div class="form-group">
                    <label for="maxprice" class="control-label">Max Price</label>
                    <div class="input-group">
                        <div class="input-group-addon" id="basic-addon2"><span style="font-family: verdana;">&#8377;</span></div>
                        <input type="text" class="form-control" name="maxprice" id="maxprice" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group ">
                <input type="submit" class="btn btn-info pull-right" value="Submit">
                </div>
            </form>

            <div class="d-flex bg-success justify-content-around ">
            
                <nav aria-label="Page navigation " class="p-0">
                    <ul class="pagination justify-content-center ">
                        {% if prev_url %} {% set temp="" %} {% else %} {% set temp="disabled" %} {% endif %}
                        <li class="page-item {{temp}}">
                            {% set t=request.query_string%}
                            <a class="page-link" href="{{prev_url}}">Previous</a>
                        </li>
                        <!-- <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li> -->
                {% if next_url %} {% set temp="" %} {% else %} {% set temp="disabled" %} {% endif %}
                        <li class="page-item {{temp}}">
                            <a class="page-link" href="{{next_url}}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
   
</div>