"<td>"+
     (i+1)+ 
"</td>"+
"<td>"+
"<input type='text' name='i_name"+ i +"' placeholder='Item Name' class='form-control' />"+
"</td>"+
"<td>"+
    "<input type='text' name='i_cost"+i+"' placeholder='Item Price' class='form-control' />"+
"</td>"+
"<td>"+
    "<div class='form-group col-auto'>"+
        "<div class="lg">"+
            "<select name='i_type"+i+"' class='form-control-lg'>"+
                "<option selected>Veg</option>"+
                "<option>Non-veg</option>"+
                "<option>Egg</option>"+
                "<option>Others</option>"+
            "</select>"+
        "</div>"+
    "</div>"+
"</td>"+
"<td>"+
    "<div class='form-group col-auto'>"+
        "<div class='lg'>"+
            "<select name='i_maincategory"+i+"' class='form-control-lg'>"+
                "<option selected>Others</option>"+
                "<option>Food</option>"+
                "<option>Beverages</option>"+
            "</select>"+
        "</div>"+
    "</div>"+
"</td>"+
"<td>"+
    "<input type='text' name='i_subcategory1"+i+"' placeholder='Item Sub Category 1' class='form-control' />"+
"</td>"+
"<td>"+
    "<input type='text' name='subcategory2"+i+"' placeholder='Item Sub Category 2' class='form-control' />"+
"</td>"